@import url("http://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: Open Sans, Arial, sans-serif; }

h1, h3 {
  color: rba(143, 31, 31, 1); }

h2, h4 {
  color: #541917; }

h5, h6 {
  color: #381e1d; }
