@import url('http://fonts.googleapis.com/css?family=Open+Sans');

$body-copy: Open Sans, Arial, sans-serif;

$deepred: rgba(84,25,23,1);
$cakedbrick: rgba(56,30,29,1);
$accent: rba(143,31,31,1);
$sand: rgba(249,237,214,1);

body {
  font-family: $body-copy;
}

h1,h3 {
  color: $accent;
}
h2,h4 {
  color: $deepred;
}
h5, h6 {
  color: $cakedbrick;
}
