//
//	primary.scss
//	Main Stylesheet file for the conversion.
//

@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif);

@body-copy: 1em;
@primary-font: 'Droid Sans', sans-serif;
@secondary-font: 'Droid Serif', serif;
@background-image: "img/background_repeat.png";
@anchors: navy;

@body-copy-headline-text: 300%;
@body-copy-b-head-text: 150%;
@body-copy-nav-item: 100%;
@body-copy-normal-text: 100%;
@body-copy-byline: 75%;

@body-compound-background: #141313;
@body-compound-warning: #7A4343;
@body-compound-foreground-shadow: #2E3324;
@body-compound-foreground: #f9edd6;
@body-compound-validation: #F9BA1D;

@width-min: 320px;
@width-bp2: 480px;
@width-bp3: 600px;
@width-bp4: 768px;
@width-bp5: 1200px;
@width-max: 1600px;

//
//	Body
//
//
body {
  color: @body-compound-foreground;
  font-size: @body-copy;
  font-family: @primary-font;
  background: @body-compound-background url(@background-image) repeat;
  margin: 15px;
}

h1 {
  font-size: @body-copy-headline-text;
  font-weight: bold;
  font-family: @secondary-font;
  color: @body-compound-foreground;
  text-shadow: 0px 1px 0px @body-compound-foreground-shadow;
}

h2 {
  font-size: @body-copy-b-head-text;
  font-weight: bolder;
}

h3 {
  font-size: @body-copy-b-head-text;
  font-style: italic;
}

//
//	Primary Containers:
//
//

#header {
  width: 95%;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row; // webkit support
  justify-content: center;
  .header-logo {
    -webkit-flex: 1 1 auto;
    display: inline-flex;
    order: 2;
    flex-grow: 2;
    img {
      width: 35%;
      height: 35%;
      max-width: 66%;
      max-height: 66%;
      padding-left: 15px;
    }
  }
  ul {
    padding-right: 3%;
    display: inline-flex;
    list-style-image: none;
    list-style-type: none;
    text-align: right;
    li {
      padding: 15px;
    }
  }

}
.header-right-float {
  font-size: @body-copy-nav-item;
  font-weight: bold;
  color: #f9edd6;
  text-shadow: 0px 1px 0px @body-compound-warning;
  display: inline-flex;
  order: 2;
  flex-grow: 1;
}
.header-left-float {
  font-size: @body-copy-b-head-text;
  font-weight: bold;
  color: #f9edd6;
  text-shadow: 0px 1px 0px @body-compound-warning;
  display: inline-flex;
  order: 1;
}

img {
  height: 50%;
  width: 50%;
}
