//
//	primary.scss
//	Main Stylesheet file for the conversion.
//

$background: #fff;
$foreground: #000;
$anchors: navy;

$body-copy: 16ems;
$primary-font: "Helvetica, Sans Serif";


$width-min: 320px;
$width-bp2: 480px;
$width-bp3: 600px;
$width-bp4: 768px;
$width-bp5: 1200px;
$width-max: 1600px;

//
//	Body
//
//
* {
	font-size: $body-copy;
	font-family: $primary-font;
}

//
//	Min-width:
//
//

@media (min-width: 320px) {

}