@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif);
* {
  color: white;
  font-size: 16ems;
  font-family: "Droid Sans", sans-serif;
  background: darkslategray url("img/background_repeat.png") repeat; }

h1 {
  font-size: 300%;
  font-weight: bold; }

h2 {
  font-size: 150%;
  font-weight: bolder; }

h3 {
  font-size: 150%;
  font-style: italic; }
